<div class="author">
    <h1 class="author__heading">Hi, I am Valeri.</h1>
    <p class="author__body">Self taught web developer</p>
</div>
  
<img src="/img/man-791049_1280.jpg" alt="a girl and a boy who write a blog" class="hero-image" width="981" height="380">
  
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title 1</span>
                <span class="article-list__date">Date 1</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title 2</span>
                <span class="article-list__date">Date 2</span>
            </a>
        </li>
    </ul>
    
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>